# Outputy i lokalne dane
output/
reports/
*.log
*.csv
*.zip

# Sekrety / lokalne konfiguracje
config/settings.local.json
config/*.local.json

# PowerShell
*.ps1xml
# System / lokalne
desktop.ini
.psmodules/
**/.psmodules/

# Office temp
~$*.docx
~$*.xlsx
